/*esto es un comentario*/
body{
    background-color: rgb(49, 49, 49);
}
.header1 {
    border-radius: 10px;
    background-color: rgb(43, 43, 43);
}

.fondo_oscuro {
    background-color: rgb(105, 105, 105);
    border-radius: 9px;
}

.titulo1{
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40;
}

.titulo {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
}

.subtitulo {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.selectordeclase {
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
}

.botones-usuario{
    margin-top: -200px;
    float: right;
}


.botones {
    border: 4px rgb(8, 8, 29) solid;
    border-radius: 8px;
    padding: 8px;
    background-color: rgb(15, 15, 90);   
}

.botones:hover {
      background: linear-gradient(rgb(32, 21, 184), yellow);
}

.bottom {
    text-align: center;
}


.sp_img {
    border: 4px rgb(0, 126, 84) solid;
    border-radius: 8px;
}

.sp_img {
    display: block;
    margin: auto;
}


/*display y margin para alinear la imagen al centro*/
.sp_logo {
    display: block;
    margin: auto;
    padding: 10px;
}

.video_sp {
    display: block;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
}

.trailer_sp {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}




.pie_pagina {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
